<h2>Create a new rating</h2>

<%= form_for(@rating) do |f| %>
Beer: <%= f.select :beer_id, options_from_collection_for_select(@beers, :id, :to_s) %>
Score: <%= f.number_field :score %>
<%= f.submit %>
<% end %>